input {
  elasticsearch {
    hosts => ["{{ elasticsearch_url }}"]
    user => "{{ elastic_user }}"
    password => "{{ elastic_pwd }}"
  }
}

output {
  file {
    path => "/path/to/data_diode"
  }
}
